#citySearch .btn {
    display: none;
}

#citySearch {
    display: none;
}

/* Style CSS */

/* Body */
*,
*:before,
*:after {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

/* color */
:root {
    --theme-primary: #C5FE7D;
    --theme-black: #000;
    --theme-white: #fff;
    --theme-secondary-dark: #4D4D4D; 
    --theme-secondary-light: #F4F4F4; 
    --theme-tertiary: #6ACA85;
    --text-color-gray1: #C4C4C4;
    --text-color-gray2: #ADB3BC;
}

.bg-gray {
    background-color: var(--theme-secondary-light);
}

/* Font */
.font-caption {
    color: var(--theme-secondary-dark);
    font-size: 20px;
}

.font-label1 {
    font-size: 1.125rem;
}

.font-label2 {
    font-size: 1.25rem;
}

/* Custom Radio */
.custom-form-label {
    display: grid;
    grid-template-columns: 1em auto;
    gap: 10px;
    color: var(--text-color-gray1);
}

input[type="radio"] {
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    margin: 0;
    color: var(--text-color-gray1);
    width: 1.125rem;
    height: 1.125rem;
    border: 0.15em solid var(--text-color-gray1);
    border-radius: 50%;
    transform: translateY(0.25em);
    display: grid;
    place-content: center;
}

.custom-form-label + .custom-form-label {
    margin-top: 1em;
}

input[type="radio"]::before {
    content: "";
    width: 0.45em;
    height: 0.45em;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--theme-black);
}

input[type="radio"]:checked {
    border-color: var(--theme-black);
}

input[type="radio"]:checked ~ span {
    color: var(--theme-black);
}

input[type="radio"]:checked::before {
    transform: scale(1);
}

/* Custom Input */
.custom-select, .custom-input {
    border: 0;
    background: none;
    border-bottom: 1px solid var(--text-color-gray1);
    border-radius: 0;
    padding: 16px 0px;
    padding-right: 28px;
    height: auto;
}

.custom-select {
    width: 180px;
}

.custom-select:focus, 
.custom-input:focus,
.custom-select:focus-visible, 
.custom-input:focus-visible {
    box-shadow: none;
    outline: none;
    border-color: var(--theme-black);
}

.select-icon {
    position: absolute;
    top: calc(50% - 10px);
    right: 23px;
    font-size: 0.8rem;
    color: var(--text-color-gray1);
}

.custom-select:focus ~ .select-icon {
    color: var(--theme-black);
}

/* Header */
.header-background {
    background-color: var(--theme-black);
    top: 0;
    left: 0;
    height: 310px;
    width: 100%;
    z-index: -1;
}

.header {
    margin-top: 70px;
    padding-left: 77px;
}

.logo h1 {
    font-size: 22px;
    color: var(--theme-white);
    font-weight: bold;
}

.logo .underline {
    height: 1px;
    background-color: var(--theme-white);
}

/* Search */
.search {
    width: 100%;
    padding: 32px 64px 64px;
    margin-top: 24px;
    background-color: var(--theme-white);
    box-shadow: -23px 0px 13px rgba(0, 0, 0, 0.08);
}

.search-btn {
    background-color: var(--theme-primary);
    max-width: 248px;
    width: 25%;
}

/* Search Result - City */
#searchResultCity {
    display: none;
    padding: 42px 14px;
}

.result-title {
    position: relative;
    padding-left: 34px;
}

.result-title::before {
    content: "";
    position: absolute;
    top: calc(50% - 9px);
    left: 0;
    width: 18px;
    height: 18px;
    background-color: var(--theme-black);
}

.result-title .city {
    padding-right: 16px;
}

.result-title .city::after {
    content: "";
    position: absolute;
    height: calc(100% - 5px);
    width: 1px;
    top: 2px;
    right: 8px;
    background-color: var(--theme-black);
}

.show-all {
    color: var(--text-color-gray1);
}

.route-list {
    margin-top: calc(37px - 0.5rem);
    padding: 0;
}

.route-list .col {
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
    margin-bottom: 32px;
}

.route-list .col.one {
    flex: auto;
    max-width: initial;
    display: flex;
}

.route.card {
    padding: 22px;
    border-radius: 17px;
    font-size: 16px;
    cursor: pointer;
    transition: .3s;
}

.route.card .stops-name {
    color: var(--theme-secondary-dark);
}

.route.card:hover {
    border-color: transparent;
    box-shadow: 0px 0px 0px 5px var(--theme-primary);
    transform: scale(1.02);
}

.route.card.active {
    border-color: transparent;
    background-color: var(--theme-primary);
}

.route.card.active:hover {
    box-shadow: none;
    transform: none;
}

.route.card .route-name {
    margin-bottom: 12px;
}

.more {
    color: var(--text-color-gray1);
    cursor: pointer;
    display: none;
}

.more span {
    margin-left: 8px;
    font-size: 0.8rem;
}

/* Bus Result */
.busResult.header-background, 
#busResult .header {
    height: 125px;
}

#busResult {
    padding: 0 65px;
    max-width: 1500px;
    margin: 0 auto;
}

#busResult .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0;
    padding-left: 0;
}

#cityTitle {
    display: none;
    margin: 0;
    width: 100%;
    left: 0;  
    z-index: -1;     
}

.toolbar-icon {
    width: 32px;
    height: 32px;
    color: var(--theme-white);
}

.toolbar-icon:hover {
    color: var(--theme-primary);
}

#bus-info {
    margin-top: 50px;
    margin-left: 0;
    padding: 0;
}

.direction-btn .btn {
    background-color: var(--theme-secondary-dark);
    border-radius: 0;
    width: 100%;
    color: rgb(255 255 255 / 50%);
    height: 70px;
}

.direction-btn .btn.active {
    color: var(--theme-white)
}

#bus-info .table {
    background-color: var(--theme-white);
    font-size: 17px;
}

#bus-info .table thead {
    border-bottom: 2.41067px solid #C4C4C4;
}

#bus-info .table td {
    padding: 27px 12px;
}

#bus-info .table .stopName {
    padding-left: 27px;
    width: 40%;
}

#bus-info .table .stopTime {
    text-align: center;
    width: 30%;
}

#bus-info .table .stopStatus {
    text-align: center;
    width: 30%;
}

#realtimeBusInfo td.stopStatus {
    padding: 1px 0px;
}

.stopStatus .circle {
    border-radius: 50%;
    border: 2px solid;
    width: 20px;
    height: 20px;
}

.stopStatus .vl {
    border-left: 3px solid #6ACA85;
}

.arrival-time {
    font-size: 14px;
    color: var(--text-color-gray2);
    padding: 1px 16px;
    background-color: var(--theme-secondary-light);
}

#bus-info #updateTime td {
    padding: 16px;
    text-align: right;
}

/* RWD */
@media (max-width: 1200px) {
    .route-list .col {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }
}

@media (max-width: 992px) {
    .busResult.header-background, 
    #busResult .header {
        height: 100px;
    }

    #busResult {
        padding: 0px;
    }

    #cityTitle {
        display: block;       
    }

    .header {
        padding-left: 0;
        text-align: center;   
    }

    #busResult .header {
        padding: 0 30px;
        color: var(--theme-white);
    }

    .route-list .col {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }

    .search-type {
        text-align: center;
    }
    
    .search {
        padding: 32px 32px 64px;
    }
    
    .custom-select {
        width: 110px;
    }

    #bus-info.container {
        max-width: 100%;
    }

    #bus-info #cityResultTitle,
    #bus-info .route-list {
        padding: 0 60px;
        max-width: 100%;
    }

    #bus-info .table tr td:first-child,
    #bus-info .table tr th:first-child {
        padding-left: 60px;
    }

    #bus-info .table tr td:last-child,
    #bus-info .table tr th:last-child {
        padding-right: 60px;
    }

    .table {
        margin-bottom: 0;
    }

    .table thead {
        text-align: center;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 100%;
        padding-right: 28px;
        padding-left: 28px;
    }

    .search-btn {
        width: auto;
    }
}

@media (max-width: 576px) {

}
